<div class="wrapper fadeInDown">
    <div id="formContent">
        <button style="background: none;border: none;" [routerLink]="['/user/login']">
            <h2 class="inactive underlineHover">Reset Password</h2>  <!-- active -->
        </button>
        <form> <!--  [formGroup]="authform" (ngSubmit)="authsubmit()" -->
            <input  type="text" class="fadeIn second" placeholder="Enter password"> <!-- formControlName="email" -->
            <!-- <div class="alert alert-danger" *ngIf="authform.controls['email'].invalid  && authform.controls['email'].touched" role="alert">
                <span *ngIf="authform.controls['email'].invalid">Place Enter Valid Email</span>
            </div> -->
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Enter Confirm password"> <!-- formControlName="password" -->
            <!-- <div class="alert alert-danger" *ngIf="authform.controls['password'].invalid  && authform.controls['password'].touched" role="alert">
                <span *ngIf="authform.controls['password'].invalid">Place Enter Password</span>
            </div> -->
            <input type="submit" class="fadeIn fourth" value="Log Insubmit"><!--  [disabled]='!authform.valid'  -->
        </form>
        <!-- Remind Passowrd -->
        <!-- <div id="formFooter">
            <button class="underlineHover" style="background: none;border: none;" (click)="forgetPassword()">Forgot Password?</button>
        </div> -->
    </div>
</div>