<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.icWTGsqnH4mJbGqB_s3XUgHaFj%26pid%3DApi&f=1" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <div class="d-flex justify-content-between">
            <input type="text" placeholder="Enter Username" name="uname" required>
            <button class="cancelbtn btn">Update</button>
        </div>
        <label for="uname"><b>Password</b></label>
        <div class="d-flex justify-content-between">
            <input type="password" placeholder="Enter password" name="uname" required>
            <button class="cancelbtn btn">Update</button>
        </div>
        <button type="submit" class="btn">Update Profile</button>
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn btn">Home</button>
      <span class="psw">change <a href="#">password?</a></span>
    </div>
  </form>