<div class="wrapper fadeInDown">
    <div id="formContent">
        <a>
            <h2  [ngClass]="{'active': title === 'login'}" class="title-btn" (click)="showLogin()" >Login</h2>
        </a>
        <a>
            <h2  [ngClass]="{'active': title === 'signup'}" class="title-btn"  (click) = "showSignup()">Sign Up </h2>
        </a>
        <!-- Icon -->
        <!-- <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div> -->

        <!-- Login Form -->
        <form [formGroup]="loginForm" >
            <input formControlName="email" type="text" class="fadeIn second" placeholder="Enter your email"> <!-- formControlName="email" -->
            <div class="alert alert-danger" *ngIf="loginForm.controls['email'].invalid  && loginForm.controls['email'].touched" role="alert">
                <span *ngIf="loginForm.controls['email'].invalid">Please Enter Valid Email</span>
            </div>
            <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="Enter your password"> <!-- formControlName="password" -->
            <div class="alert alert-danger" *ngIf="loginForm.controls['password'].invalid  && loginForm.controls['password'].touched" role="alert">
                <span *ngIf="loginForm.controls['password'].invalid">Please Enter Password</span>
            </div>
            <button *ngIf="title==='login'" type="button" class="fadeIn fourth" [disabled]='!loginForm.valid' (click)="logindata()"> Log In </button>
            
            <button  *ngIf="title ==='signup'" type="button" class="fadeIn fourth" [disabled]='!loginForm.valid' (click)="signUp()"> Sign Up </button>
       
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>